body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

#top_bar {
    display: flex;
    justify-content: center;

    overflow: hidden;
    color: white;
    background-color: rgb(20, 20, 20);

    border-width: 1px;
    border-color: rgb(80, 80, 80);
    border-style: solid;
    margin: 10px;

    user-select: none;
}

#navigation a {
    color: white;
    text-decoration: none;
    float: left;
    padding: clamp(1px, 15px, 15px);
    transition: 0.5s;
    cursor: pointer;

    font-size: clamp(1px, 4vw, 18px);
}

#navigation a:hover {
    background-color: rgb(50, 50, 50);
}

#footer {
    border-top: 1px;
    border-top-color: rgb(80, 80, 80);
    border-top-style: solid;

    display: block;
    color: rgb(80, 80, 80);
    padding: 25px;
    padding-top: 10px;
    margin: 0px;

    position: fixed;
    width: 1000vh;
    bottom: 0;

    font-size: 10px;
    z-index: 1;

    background-color: black;
}

#mainContent{
    display: block;
    color: white;
    text-align: center;
}
#about{
    margin: 10px;
}

#aboutMe #AMtext{
    border-style: solid;
    border-color: rgb(80, 80, 80);
    padding: 10px;
    text-align: left;
    max-width: 500px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#info{
    color: white;
    text-align: center;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    padding: 10px;
    text-align: left;
    max-width: 500px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#interests{
    border-style: solid;
    border-color: rgb(80, 80, 80);
    padding: 10px;
    text-align: left;
    max-width: 500px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#Programming{
    border-style: solid;
    border-color: rgb(80, 80, 80);
    padding: 10px;
    text-align: left;
    max-width: 500px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
#irl{
    border-style: solid;
    border-color: rgb(80, 80, 80);
    padding: 10px;
    text-align: left;
    max-width: 500px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}